

# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
build
coverage
dist
node_modules
types
deployments
cache
artifacts
typechain-types

# files
*.env
*.log
.DS_Store
.pnp.*
.idea
coverage.json
package-lock.json
yarn.lock